* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images03/bg-body.png);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-color: #E8F7F9;
}

.container {
    margin-left: 450px;
    width: 700px;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container .header {
    height: 140px;
    background: center url(images03/bg-header.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container .header h1 {
    margin-left: 1rem;
    font-style: italic;
    color: #bbb;
}

.menu::before {
    clear: both;
}

.menu {
    background: center url(images03/bg-menu.png);
    background-repeat: no-repeat;
}
/* list - menu */
.list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 35px;
    padding-left: 7px;
}

.list ul li {
    list-style-type: none;
}

.list ul li a {
    text-decoration: none;
    color: black
}
/* list at top menu */
.menu .list ul li a {
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
}

/* main */
.main {
    display: flex;
    flex-direction: row;
}

.main .left {
    width: 75%;
    margin: 0.2rem;
}

.main .right {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 250px;
    border-radius: 0 0 20px 20px;
    margin-right: 3px;
}
/* background header main left */
.main .left .bg-top {
    background: url(images03/bg-ad-top.png) no-repeat;
    height: 72px;
}
/* header in side main left */
.main .left h2 {
    color: #d8e283;
}
/* main paragraph */
.main .left .date-time p {
    font-weight: 600;
    font-size: 0.9rem;
    color: #c0bac6;
}

.main .left .pg p {
    line-height: 1.5rem;
    word-spacing: 0.5rem;
}


.main .right .list ul {
    display: flex;
    flex-direction: column;
}

.main .right .list ul li {
    width: 100%;
}

.divider {
    border-bottom: 2px solid #bbb;
    width: 100%;
}

.right .list ul li:hover {
    background-color: #d8e283;
    border: 1px solid #000;
}

.menu ul li:hover {
    background: url(images03/bg-menu-hover.png) no-repeat;
}
/* main feed */
.main .right .bg-feed {
    background: url(images03/bg-feed.gif);
    width: 152px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.main .right .bg-feed {
    position: relative;
    overflow: hidden;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.main .right .bg-feed button {
    background: url(images03/button-feed.png);
    height: 25px;
    width: 100px;
    border: 0;
}

.main .right .bg-feed button:active {
    background: url(images03/button-feed.png);
    background-position: top;
    position: relative;
    top: -25px;
    height: 50px;
    /* fix to 50 when click or hover*/
    width: 100px;
    border: 0;
}
/*Comment at bottom page  */
.comment {
    margin-top: 1rem;
}

.comment a {
    text-decoration: none;
    color: skyblue;
}

/* Footer */
.container .footer {
    position: fixed;
    bottom: 0;
    background: url(images03/bg-footer.jpg) no-repeat;
    height: 100px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container .footer span {
    margin: 1rem;
    color: #fff;
}